/Lezione 1_08-04-2024/
/Lezione 2_15-04-2024/
/Lezione 3_22-04-2024/
/Webinars/
**/.ipynb_checkpoints/
*.one
/Week 2_ANN/Esercitazione-Qualit_dei_vini/esercitazione_venv
/Week 3-4-5_CNN/batchNormalization_esercitazione/Jupyter/BNenv
/.venv